### 직접설정 ###
.idea/
application.yml

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.yml
member-service/src/main/resources/itability-418007-0c2a47d403c7.json
board-service/src/main/java/com/team3/boardservice/recruitment/controller/RecruitController.java.rej
member-service/src/main/resources/itability-418007-0c2a47d403c7.json
