<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify</title>

    <style>
    th, td {
        padding: 15px;
    }
    table {
        margin-left:auto;margin-right:auto;
    }

    </style>
</head>
<body>
<h1 align="center" > mypage-modify </h1>
<button th:onclick="'redirectToAddCareerPage(\'' + ${memberId} + '\')'">경력 추가</button><br>
<table>
    <tr>
        <th>경력번호</th>
        <th>회사명</th>
        <th>입사일</th>
        <th>퇴사일</th>
        <th>직급</th>
        <th>담당업무</th>
        <th>재직여부</th>
        <th>수정하기</th>
    </tr>

    <tr th:each="career : ${careerList}">
        <td th:text="${career.careerId }"></td>
        <td th:text="${career.companyName }"></td>
        <td th:text="${career.startDate }"></td>
        <td th:text="${career.endDate }"></td>
        <td th:text="${career.role }"></td>
        <td th:text="${career.assignedTask }"></td>
        <td th:text="${career.isCurrentJob }"></td>
        <td><button th:onclick="'redirectToModifyCareerPage(\'' + ${memberId} + '\', \'' + ${career.careerId} + '\')'"> 수정하기 </button></td>
    </tr>

</table>

<script>
    function redirectToModifyCareerPage(memberId, careerId) {
        window.location.href = "http://localhost:8080/mypage/" + memberId+ "/modify-career"+"/"+careerId;
    }
</script>

<script>
    function redirectToAddCareerPage(memberId) {
        window.location.href = "http://localhost:8080/mypage/" + memberId+ "/add-career";
    }
</script>


</body>
</html>