<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<body>

<h1 align="center" > mypage-modify </h1>

<form id="modifyForm" action="/mypage/modify-name" method="post">
    <input type="hidden" name="memberCode" th:value="${profile.getMemberId()}" />

    닉네임: <input type="text" name="nickname" th:value="${profile.nickname}"/> <br>
    이름: <input type="text" name="name" th:value="${profile.getMemberInfo().name}"/> <br>
    <input type="submit" value="수정 완료">
</form>

<script>
    // memberId 값을 JavaScript 변수로 설정
    var memberId = "${memberCode}";

    // memberId 값을 hidden input 필드에 설정
    document.getElementById("memberIdInput").value = memberId;
</script>

</body>
</html>