<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>

<body>
    <script>
        const response = fetch("http://localhost:8000/member-service/rest/mypage/6249388071526484416")
            .then((response)=>{
                console.log('response.ok: ', response.ok);
                if(!response.ok) throw 'Error';
                return response.json();
            })
            .then((data) => {
                    console.log('data: ', data);
                }
            ).catch(error=>{
                console.error('error: ', error);
            });
        console.log(response);
    </script>
</body>
</html>
