<!DOCTYPE html>
<html lang="en">
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- kakao button -->
    <a href="kakao">
        <img th:src="@{images/kakao_login_medium_narrow.png}">
    </a>
<br>
<!-- naver button -->
    <a href="naver">
        <img style="height: 150px;" src="https://noticon-static.tammolo.com/dgggcrkxq/image/upload/v1583672606/noticon/zx2ynqjxvrvige9pfsso.svg"/>
    </a>
<!-- naver button -->
    <a href="google">
        <img style="height: 150px;" src="https://noticon-static.tammolo.com/dgggcrkxq/image/upload/v1648777274/noticon/uupi5ephlcx4f82axldc.png"/>
    </a>

<br>
<br>
<h1><a href="/mypage/1">1번 프로필 이동하기</a></h1>
<h1><a href="/report/list">신고 목록 조회</a></h1>
<h1><a href="/report/add">신고 추가</a></h1>
<button onclick="location.href='/follow/add'">팔로우 추가</button>
<button onclick="location.href='/follow/follows/1'">팔로우 리스트</button>




</body>
</html>