<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>

<h1 align="center" > mypage-modify </h1>

<form id="modifyForm" action="/mypage/modify-degree" method="post">
    <input type="hidden" name="memberId" th:value="${profile.getMemberInfo().getMemberId()}" />
    <input type="text" name="finalEduName" th:value="${profile.getDegree().getFinalEduName()}"/> <br>
    <input type="date" name="enrollDate" th:value="${profile.getDegree().getEnrollDate()}"/> <br>
    <input type="date" name="graduateDate" th:value="${profile.getDegree().getGraduateDate()}"/> <br>
    <input type="text" name="major" th:value="${profile.getDegree().getMajor()}"/> <br>
    <input type="checkbox" name="registerStatus" th:checked="${profile.getDegree().isRegisterStatus()}"/> <br>

    <input type="submit" value="수정 완료">
</form>
<button STYLE="width: 150px; height: 100px; font-size: 30px" th:onclick="'redirectTomypage(\'' + ${profile.getMemberInfo().getMemberId()} + '\')'">돌아가기</button>
<script>
    // memberId 값을 JavaScript 변수로 설정
    var memberId = "${profile.getMemberId()}";

    // memberId 값을 hidden input 필드에 설정
    document.getElementById("memberIdInput").value = memberId;
    function redirectTomypage(memberId) {
        window.location.href = "http://localhost:8080/mypage/" + memberId;
    }
</script>

</body>
</html>