<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
    <div>
        <ul>
            <li id="recruitType"></li>
            <li id="recruitId"></li>
            <li id="recruitTitle"></li>
            <li id="recruitCategoryName"></li>
            <li id="recruitSkillName"></li>
            <li id="recruitExpDate"></li>
            <li id="recruitMbCnt"></li>
        </ul>

    </div>

    <script>
        var currentUrl = window.location.href;
        var recruitId = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);

        fetch("http://localhost:8000/board-service/recruit/recruit-category/"+recruitId)
            .then(response => {
                // 없으면 에러 발생
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 있으면 pass
                return response.json();
            })
            .then(data => {
                document.getElementById('recruitCategoryName').textContent = data.recruitCategoryName;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

        fetch("http://localhost:8000/board-service/recruit/recruit-skill/"+recruitId)
            .then(response => {
                // 없으면 에러 발생
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 있으면 pass
                return response.json();
            })
            .then(data => {
                document.getElementById('recruitSKillName').textContent = data.recruitSkillName;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

        fetch("http://localhost:8000/board-service/recruit/"+recruitId)
            .then(response => {
                // 없으면 에러 발생
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 있으면 pass
                return response.json();
            })
            .then(data => {
                document.getElementById('recruitType').textContent = data.recruitType;
                document.getElementById('recruitId').textContent = data.recruitId;
                document.getElementById('recruitTitle').textContent = data.recruitTitle;
                document.getElementById('recruitExpDate').textContent = data.recruitExpDate;
                document.getElementById('recruitMbCnt').textContent = data.recruitMbCnt;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
        });


    </script>
</body>
</html>