<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<table>
    <tr>
        <td>id :</td>
        <td th:text="${list[0]}"></td>
    </tr>
    <tr>
        <td>이메일 :</td>
        <td th:text="${list[1]}"></td>
    </tr>
    <tr>
        <td>이름 :</td>
        <td th:text="${list[2]}"></td>
    </tr>
    <tr>
        <td>사진 :</td>
        <td><img th:src="${list[3]}"></td>
    </tr>

</table>

<button STYLE="width: 150px; height: 100px; font-size: 30px" th:attr="data-memberId=${list[0]}" onclick="redirectTomypage(this.getAttribute('data-memberId'))">마이페이지</button>

<script>
    function redirectTomypage(memberId) {
        window.location.href = "http://localhost:8080/mypage/" + truncateToTwelveDigits(memberId);
    }
    function truncateToTwelveDigits(value) {
        return value.substring(0, 12);
    }
</script>

</body>
</html>