<!DOCTYPE html>
<html lang="en">
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- kakao button -->
    <a href="kakao">
        <img th:src="@{images/kakao_login_medium_narrow.png}">
    </a>
<br>
<!-- naver button -->
    <a href="naver">
        <img style="height: 150px;" src="https://noticon-static.tammolo.com/dgggcrkxq/image/upload/v1583672606/noticon/zx2ynqjxvrvige9pfsso.svg"/>
    </a>


</body>
</html>