<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        img {
            height: 150px; /* 이미지 높이 조정 */
        }
    </style>
</head>
<body>

<table>
    <tr>
        <td>ID:</td>
        <td th:text="${userInfo['userId']}"></td>
    </tr>
    <tr>
        <td>이메일:</td>
        <td th:text="${userInfo['email']}"></td>
    </tr>
    <tr>
        <td>이름:</td>
        <td th:text="${userInfo['name']}"></td>
    </tr>
    <tr>
        <td>사진:</td>
        <td><img th:src="${userInfo['imgId']}" alt="User profile image"></td>
    </tr>
</table>

</body>
</html>
