<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
    <table>
        <tr>
            <th>분류</th>
            <th>제목</th>
<!--            <th>모집군 카테고리</th>-->
<!--            <th>기술 카테고리</th>-->
            <th>만료일</th>
            <th>인원</th>

        </tr>
            <td th:text="${ recruit.recruitId }"></td>
            <td th:text="${ recruit.recruitTitle }"></td>
<!--            <td th:text="${ recruit.recruitCategoryId }"></td>-->
<!--            <td th:text="${ recruit.skillId }"></td>-->
            <td th:text="${ recruit.recruitExpDate }"></td>
            <td th:text="${ recruit.recruitMbCnt }"></td>
        </tr>
    </table>
</body>
</html>